.header {
  background-image: url(../images/header.jpg);
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text {
  font-family: 'Bebas Neue';
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(255, 213, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  padding-left: 20px;
}
